$elementWidth: 12vw;
$numberLargeFontSize: 100px;
h1,
h2 {
  margin: 0;
}

.App {
//   text-align: center;
  background-color: rgb(9, 52, 102);
  height: 100vh;

  .App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100vw;
    display: fixed;
    // background-color: brown;

  .logo {
    width: 30%;
    margin-left: -10%;
  }

  .socio {
    display: flex;
    flex: 0.5;
    justify-content: space-between;
    color: white;
  }

  .get {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(9, 52, 102);
    // border-radius: 15px;
    // margin-right: 43px;
    // height: 1.7rem;
    // width: 8rem;
    // font-size: small;
    z-index: 100;
    border-radius: 15px;
    padding: 10px 0px;
    margin-right: 2rem;
    width: $elementWidth;
    font-size: 16px;
  }
}
  h1 {
    text-align: center;
    margin-top: 20px;
  }

    @keyframes numSlide {
    0% {
      transform: translateY($numberLargeFontSize);
      line-height: 0;
    }

    100% {
      transform: translateY(0px);
      line-height: 1;
    }
  }

.cont {
    width: 100vw;
    display: flex;
        transition: all 0.7s ease;


    .left {
        flex: .9;

        .space {
            display: flex;
            flex-direction: column;
            align-items: space-around;
        }

        .x {
            margin-top: 3rem;
            margin-left: 2.6rem;
            background-color: white;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 200%;
        }

        .xx {
            margin-left: 2.5rem;
            margin-top: 1rem;
            width: 3rem;
            height: 3rem;
            color: white;
            font-size: 300%;
        }

        .xxx {
            color: white;
            font-size: 400%;
            font-weight: bolder;
            width: 5rem;
            margin-top: -6rem;
            margin-left: 15rem;
            animation: numSlide 0.8s ease;
            // overflow: hidden;

        }

        .xxxx {
            bottom: 5rem;
            margin-top: 17rem;
            margin-left: 15rem;
            width: 5rem;
            color: white;
            animation: numSlide 0.8s ease;
    
        }

        .slo {
            display: flex;
            margin-top: -4.5rem;
            margin-left: 41rem;
            gap: 2rem;
    animation: numSlide 0.8s ease;
        transition: all 0.7s ease;
        



            .lo {
                display: flex;
                height: 3rem;
                width: 3rem;
                background-color: rgb(255, 255, 255, 0.3);
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                color: white;                

            }

            .dis {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(255, 255, 255, 0.3);
                border-radius: 25px;
                height: 3rem;
                width: 11rem;
                color: white;                
            }
        }
    }

    .right {
        margin-right: -25rem;
        margin-top: -10rem;

        img {
            height: 100%;
            margin-right: -13rem;
        }
    }
}




}

